@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&family=Staatliches&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  color: #fff;
}
*::selection {
  background-color: #299CC0;
}

body::-webkit-scrollbar {
  width: 12px;
  background-color: #f0f0f0;
}

body::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: #00000049;
  border: 3px solid #f0f0f0;
  /* background-color: #125566a6;
  border: 3px solid #f0f0f0; */
}
body::-webkit-scrollbar-thumb:hover {
  background-color: #0000008a;

}

h1, h2 {
  font-family: 'Staatliches';
  text-transform: uppercase;
  font-weight: 500;
}

h2 {
  font-size: 36px;
  color: #fff;
}

h3, h4 {
  font-weight: 400;
}

img {
  width: 100%;
}
figure {
  margin: 0;
}
iframe {
  border: none;
}



/* Hero section */
div#hero {
  height: 100vh;
  /* background-color: rgba(255, 187, 0, 0.575); */
  padding-left: 64px;
  padding-right: 64px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #fff;
}

div#hero h1 {
  width: max-content;
  margin-top: 120px;
  font-family: 'Staatliches';
  font-style: normal;
  font-weight: 400;
  font-size: 120px;
  line-height: 1em;

  color: transparent;
  -webkit-text-stroke: 1.5px #fff;

  position: relative;
}

div#hero h1::before {
  position: absolute;
  top: .3em;
  left: -64px;
  width: 120%;
  height: 100%;
  content: "";
  /* border: 2px solid; */
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

div#hero .parallax {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -100;
  background-color: #125566;

  /* temporary non-parallax background image */
  background-image: url(./img/header-bg.jpg);
  background-size: cover;
  background-position: center center;
}

div#hero .parallax::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: blue; */
  background-image: 
  /* linear-gradient(
    rgba(0, 0, 0, 0.0) 0%,
    rgba(0, 0, 0, 0.0) 70%,
    rgba(0, 0, 0, 0.2) 80%,
    rgba(0, 0, 0, 0.7) 90%,
    rgba(0, 0, 0, 0.9) 95%,
    rgba(0, 0, 0, 1.0) 100%
  ); */

  linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(5, 26, 28, 0.96) 93.23%, #051A1C 100%);
}

div#hero nav {
  width: max-content;
}
div#hero nav > * {
  padding: 12px 0 12px 4px;
  font-size: 24px;
  border: none;
  background-color: transparent;
  text-align-last: left;
  color: #fff;
  text-transform: uppercase;
  font-weight: 500;
}

div#hero nav > * a {
  font-family: 'Staatliches';
  border-bottom: 2px solid transparent;
  transition: .3s;
}
div#hero nav > * a:hover {
  cursor: pointer;
  border-bottom: 2px solid #ffffff8c;
  transition: .3s;
}

div#hero .flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 42px;
  margin-bottom: 32px;
}

div#hero .flex span {
  color: #ffffffbe;
}

div#hero .links img {
  width: 48px;
  margin-right: 8px;
}



/* Skills */
#skills {
  padding: 60px 16px 180px 16px;
  color: #fff;
  background-color: #051A1C;
  text-align: center;
}

#skills h2 {
  margin-bottom: 48px;  
}
#skills h3 {
  margin-top: 32px;
  margin-bottom: 4px;
}

#skills ul li {
  font-size: .85em;
  color: #ffffffb6;
  list-style-type: none;
}


/* Featured works section */
#featuredwork {
  text-align: left;
  margin-top: -120px;
  padding: 120px 32px 140px 32px;
  background-color: #125566;
  clip-path: polygon(0 0, 100% 85px, 100% calc(100% - 100px), 0 100%);
}


#featuredwork div.flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 32px;
  margin-left: auto;
  margin-right: auto;
}
#featuredwork div.flex > * {
  flex: 1;
  max-width: 480px;
}

#featuredwork h2 {
  margin-bottom: 8px;
}


#featuredwork h3 {
  font-size: 24px;
}
#featuredwork h4 {
  margin-top: 16px;
  margin-bottom: 8px;
}

#featuredwork .description p {
  font-size: .85em;
  color: #ffffffb6;
}



/* Projects */
#projects {
  background-color: #051A1C;
  margin-top: -120px;
  padding: 160px 80px 64px 64px;
  text-align: left;
}
#projects > section {
  margin: 0 auto;
  max-width: 520px;

}
#projects h2 {
  margin-bottom: 30px;
}
#projectsList {
  position: relative;
}

.vertical-line {
  content: "";
  height: 100%;
  width: 2px;
  background-color: #fff;
  position: absolute;
  top: 5px;
  left: 5px;
  animation: lineExtension 1s ease-in-out;
}

div.project {
  display: flex;
  flex-direction: row;
  gap: 32px;
  margin-bottom: 48px;

  /* fade-in animation */
  opacity: 0;
  transform: translate3d(0, 5rem, 0);
  transition: 
      transform 1s cubic-bezier(0.64, 0.04, 0.26, 0.87),
      opacity 0.8s cubic-bezier(0.64, 0.04, 0.26, 0.87);
}

@keyframes lineExtension {
  0% {
      opacity: 0;
      height: 0%;
  }
  50% {
      opacity: .3;
  }
  70% {
      opacity: .6;
  }
  100% {
      opacity: 1;
      height: 100%;
  }
}


div.project h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 22px;
  font-weight: 400;
  margin-top: -12px;
  margin-bottom: 8px;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  gap: 16px;
}
div.project h3 > span {
  font-size: 0.6em;
  color: #ffffff8e;
}
div.project h4 {
  margin-top: 22px;
}
div.project p {
  color: #ffffffbe;
}


.yellow_circle {
  position: relative;
}

div.circle {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #fff;
}

div.project h4 {
  font-family: 'Poppins', sans-serif;
  margin-bottom: 8px;
}

.description p {
  font-size: .8em;
}

.project-links {
  margin-top: 24px;
}
.project-links img {
  width: 40px;
  margin-right: 4px;
}




/* footer */
footer {
  background-color: #000;
  padding: 64px 16px;
  text-align: center;
}

footer img {
  max-width: 200px;
}
footer nav {
  padding: 32px 0;
}
footer nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 24px;
}

footer nav > * a {
  border-bottom: 2px solid transparent;
  transition: .3s;
}

footer nav > * a:hover {
  border-bottom: 2px solid #ffffff8c;
  cursor: pointer;
  transition: .3s;
}

footer .contact-info p {
  font-size: .8em;
  color: #ffffffb6;
}


/* fade-in animation */
.fadein {
  opacity: 0;
  transform: translate3d(0, 5rem, 0);
  transition: 
      transform 1s cubic-bezier(0.64, 0.04, 0.26, 0.87),
      opacity 0.8s cubic-bezier(0.64, 0.04, 0.26, 0.87);
}

.fadein.faded {
  opacity: 1;
  transform: translate3d(0, 0, 0);
}

/* technology tags */
.tech-stack {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 4px;
}
.tech-tag {
  /* border-radius: 4px; */
  background-color: #ffffff8c;
  color: #000;
  padding: 4px 8px;
  font-size: 12px;
}

/* about me section */
div#about {

}
div#about h3 {
  margin-top: 12px;
  font-size: 16px;
  font-weight: 700;
}
div#about p,
div#about strong,
div#about a,
div#about span {
  color: #000;
}
div#about a:hover {
  color: #1976d2;
}

div#about section:not(:last-of-type) {
  margin-bottom: 24px;
}


/* contact section */
div#contact {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}
div#contact .form-input {
  margin-top: 16px;
}
div#contact .form-input label.MuiFormLabel-colorPrimary .MuiFormLabel-asterisk {
  color: rgba(0, 0, 0, 0.6);
}
div#contact .form-input label.MuiFormLabel-colorPrimary.Mui-focused .MuiFormLabel-asterisk {
  color: #1976d2;
}
div#contact .form-input label.MuiFormLabel-colorPrimary.Mui-error .MuiFormLabel-asterisk {
  color: #D32f2f;
}
div#contact .form-input label.MuiFormLabel-colorPrimary.Mui-error.Mui-focused .MuiFormLabel-asterisk {
  color: #D32f2f;
}
div#contact .MuiButton-outlinedPrimary {
  color: #125566 !important;
  border-color: #12556681 !important;
}
div#contact .align-right {
  display: flex;
  justify-content: right;
}



/* mobile */
@media (max-width: 720px) {
  div#hero h1 {
    font-size: 16vw;
    width: 110%;
    text-align: left;
  }

  div#hero h1::before {
    width: calc(100% + 64px);
    left: -64px;
  }

  div#hero .flex {
    flex-direction: column;
    gap: 16px;
  }
  div#hero .flex span {
    font-size: .8em;
  }

  /* featured work */
  #featuredwork {
    padding-left: 64px;
    padding-right: 64px;
  }
  #featuredwork div.flex {
    flex-direction: column;
  }
}

@media (max-width: 520px) {

  div#hero h1::before {
    width: 120%;
  }

  /* featured work */
  #featuredwork {
    padding-left: 32px;
    padding-right: 32px;
  }

  /* projects */
  #projects {
      padding-left: 32px;
      padding-right: 32px;
  }

  div.project {
    gap: 20px;
  }

  div.project h3 {
      flex-direction: column;
      gap: 0;
  }

  /* footer */
  footer nav ul {
    flex-direction: column;
  }
}