#pageTopBtn {
    transition: .3s;
    box-shadow: 0 2px 4px rgba(0,0,0,0.3);
    animation: float 3s ease-in-out infinite;
}

@media screen and (max-width: 620px) {
    #footerFlex {
        flex-direction: column-reverse;
        gap: 64px;
    }
    #footerLinks, #footerMenu {
        justify-content: center;
    }
}
@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-10px);
	}
	100% {
		transform: translatey(0px);
	}
}