:root {
    --theme-orange: #E76F00;
    --theme-green: hsl(179, 57%, 35%);
    --theme-dark: #3C3C3C;
}
body {
    font-family: "Montserrat Alternates", sans-serif;
    font-weight: 400;
    font-style: normal;
}
::-webkit-scrollbar {
    width: 12px;
    background-color: #f0f0f0;
}
  
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: #00000049;
    border: 3px solid #f0f0f0;
}
::-webkit-scrollbar-thumb:hover {
    background-color: #0000008a;
  
}
.theme-orange {
    color: var(--theme-orange);
}
.theme-green {
    color: var(--theme-green);
}
@media screen and (max-width: 520px) {
    .wrapper {
        padding-left: 16px !important;
        padding-right: 16px !important;
    }
}


/* text */
.responsive-text-lg {
    font-size: 28px;
}

@media screen and (max-width: 720px) {
    .responsive-text-lg {
        font-size: 24px !important;
    }
}
  

/* menu item pill */
.menuItem {
    cursor: pointer;
}
@media (hover:hover) {
    .menuItem:hover {
        color: #fff;
        background-color: var(--theme-orange);
    }
}
.menuItem:active {
    color: #fff;
    background-color: var(--theme-orange);
}